/*
 * spa.css
 * ルート名前空間スタイル
*/
/** リセット開始 */
  * {
    margin : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
  }
  h1,h2,h3,h4,h5,h6,p { margin-bottom : 10px; }
  ol,ul,dl { list-style-position : inside; }
/** リセット終了 */

/** 標準セレクタ */
  body {
    font : 13px 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
    color            : #444;
    background-color : #888;
  }
  a { text-decoration : none; }
    a:link, a:visited { color : inherit; }
    a:hover { text-decoration : underline; }

  strong {
    font-weight : 800;
    color       : #000;
  }
/** 標準セレクタ終了 */
/** spa名前空間セレクタ開始 */
  #spa {
    position : absolute;
    top      : 8px;
    left     : 8px;
    bottom   : 8px;
    right    : 8px;

    min-height : 500px;
    min-width  : 500px;
    overflow   : hidden;

    background-color : #fff;
    border-radius    : 0 8px 0 8px;
  }
  /** spa名前空間セレクタ終了 */

  /** ユーティリティセレクタ開始 */
    .spa-x-select {}
    .spa-x-clearfloat {
      height     : 0      !important;
      float      : none   !important;
      visibility : hidden !important;
      clear      : both   !important;
  }
  /** ユーティリティセレクタ終了 */
